<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://jax-ws.dev.java.net/spring/core http://jax-ws.dev.java.net/spring/core.xsd
        http://jax-ws.dev.java.net/spring/servlet http://jax-ws.dev.java.net/spring/servlet.xsd">

	<!-- with jaxws-spring integration here, the sun-jaxws.xml file is no longer required -->
    <wss:binding url="/webservice/NewSms">
        <wss:service>
            <ws:service bean="#smsService"/>
        </wss:service>
    </wss:binding>

    <!-- Web service methods -->
    <bean id="smsService" class="net.logvv.jaxws.ws.SmsServiceWS">
    	<property name="smsService" ref="SmsService" />
    </bean>

    <bean id="SmsService" class="net.logvv.jaxws.ws.SmsServceImpl" />

</beans>